<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>Document</title>
    <style>

    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        {{include "./include/header.html"}}

        {{include "./include/side.html"}}

        <div class="layui-body" style='padding-top: 20px;'>
            <form class="layui-form" action="" lay-filter="formTest">

                <div class="layui-form-item">
                    <label class="layui-form-label">title:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">author:</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" required lay-verify="required" placeholder="请输入作者"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">cartoonURl:</label>
                    <div class="layui-input-block">
                        <input type="text" name="cartoonURl" required lay-verify="required" placeholder="请输入漫画地址"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <input type="hidden" id="coverURL" name="cover" required lay-verify="required" class="layui-input">

                <div class="layui-form-item">
                    <label class="layui-form-label">cover:</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="test1">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                </div>

                <div class="layui-form-item" id="hasCover" style="display: none;">
                    <label class="layui-form-label">preview:</label>
                    <div class="layui-input-block">
                        <img src="" alt="" style="width: 120px;">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div style="position:relative">
                        <label class="layui-form-label">group:</label>
                        <div class="layui-input-block" style="position: absolute; z-index: 99999;">
                            <select name="tagID" lay-verify="required">

                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">status:</label>
                    <div class="layui-input-block" id="condition">
                        <input type="radio" name="status" value="0" title="已发布">
                        <input type="radio" name="status" value="1" title="更新中">
                        <input type="radio" name="status" value="2" title="审核中" checked>
                    </div>
                </div>

                <div class="layui-form-item" id="isShow" style="display: none;">
                    <label class="layui-form-label">publishTime:</label>
                    <div class="layui-input-block">
                        <input type="text" name="publishTime" placeholder="请输入发布时间" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">content:</label>
                    <div class="layui-input-inline">
                        <!-- <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea> -->
                        <div id="content"></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        {{include "./include/footer.html"}}

    </div>
</body>
<script src="/layui/layui.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
<script>

    const E = window.wangEditor
    const editor = new E('#content')
    editor.config.uploadImgShowBase64 = true
    editor.create()


    layui.use(['form', 'upload'], function () {
        var form = layui.form;
        var upload = layui.upload;

        $.ajax({
            type: 'get',
            url: '/queryCategory',
            success: function (res) {
                let options = '<option value="">请选择</option>'
                res.forEach(item => {
                    options += `<option value="${item.cateId}">${item.name}</option>`
                    $('select[name="tagID"]').html(options)
                    // location.href 带有id时执行回显
                    form.render('select')
                })

                let id = location.href.includes('?data_id=')
                if (id) {
                    cartoonEcho()
                }
            }
        })

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            , url: '/uploadCover' //上传接口
            , done: function (res) {
                //上传完毕回调
                $('#hasCover img').attr('src', res.src)
                $('#hasCover').css('display', 'block')
                $('#coverURL').val($('#hasCover img').attr('src'))
            }
        });

        //监听提交
        form.on('submit(formDemo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            const reg = /data_id=(.*)&?$/
            const data_id = [...reg.exec(location.href)][1]
            data.field.content = editor.txt.html()
            data.field.ID = data_id
            $.ajax({
                type: 'post',
                url: '/cartoon_update',
                data: data.field,
                success(res) {
                    if (res.statusCode === 0) {
                        layer.msg('修改成功', {
                            time: 800,
                            end() {
                                location.href = '/cartoonPage'
                            }
                        })
                    }
                }
            })
            return false;
        });

        //数据回显  
        function cartoonEcho() {
            const reg = /data_id=(.*)&?$/
            const data_id = [...reg.exec(location.href)][1]
            $.ajax({
                type: 'get',
                url: '/cartoonEcho',
                data: { data_id },
                success({ statusCode, data }) {
                    if (statusCode === 0) {
                        $('#hasCover img').attr('src', data[0].cover)
                        $('#hasCover').show()
                        editor.txt.html(data[0].content)
                        data[0].publishTime && $('#isShow').show()
                        form.val("formTest", {
                            // "title": data[0].title
                            // , "author": data[0].author
                            // , "cartoonURl": data[0].cartoonURl
                            // , "status": data[0].status
                            // , "publishTime": data[0].publishTime
                            // , "tagID": data[0].tagID
                            ...data[0]
                        });
                    }
                }
            })
        }


    });

    $('#condition').on('click' ,'div', function () {
        $(this).index() === 5 ? $('#isShow').hide() : $('#isShow').show()
    })


</script>

</html>