<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>Document</title>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {{include "./include/header.html"}}

        {{include "./include/side.html"}}
        
        <div class="layui-body">

            <a href="/cartoonAddPage" class="layui-btn"  style="position: absolute; left: 10px; top: 10px; z-index: 999;" >添加漫画</a>
            
            <table class="layui-hide" id="test" lay-filter="test"></table>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>


        {{include "./include/footer.html"}}

    </div>

</body>
<script src="/layui/layui.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

<script>
    layui.use( 'table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/cartoonInfo'
            , toolbar: '#toolbarDemo'
            , title: '漫画数据表'
            , totalRow: true
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ID', title: 'ID', width: 60, fixed: 'left', sort: true, }
                , { field: 'title', title: '名称', width: 150 }
                , { field: 'author', title: '作者', width: 150 }
                , { field: 'content', title: '内容', width: 180 }
                , { field: 'cover', title: '封面地址', width: 120 }
                , { field: 'cartoonURl', title: '漫画地址', width: 120 }
                // , { field: 'tagID', title: '所属分类', width: 50 }
                , {
                    field: 'status', title: '状态', width: 80, templet: function (item) {
                        statusMap = {
                            '0':'已发布',
                            '1':'更新中',
                            '2':'审核中'
                        }
                        return statusMap[item.status]
                    }
                }
                , { field: 'lastUpdateTime', title: '最近更新时间', width: 140 }
                , { field: 'publishTime', title: '发布时间', width: 140 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
        });
    });
</script>

</html>