<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>Document</title>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        {{include "./include/header.html"}}

        {{include "./include/side.html"}}

        <div class="layui-body" style="display: flex;justify-content: center;align-items: center;">
            <div id="main" style="width: 800px;height:600px;"></div>
        </div>

        {{include "./include/footer.html"}}

    </div>
</body>
<script src="/layui/layui.all.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script src="/public/js/jquery.js"></script>
<script type="text/javascript">


    $.ajax({
        type: 'get',
        url: '/queryCartoonCounts',
        success(res) {
            let data = []
            res.forEach(item => {
                if (item.name == null) {
                    return
                }
                let a = {}
                a.value = item.counts
                a.name = item.name
                data.push(a)
            })
            console.log(data)
            renderEcharts(data)
        }
    })


    function renderEcharts(data) {
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            title :{
                show:true,
                text:'DM5漫画分类详情',
                textStyle:{
                    color :'skyblue',
                    fontSize:26,
                    fontWeight:'normal',
                }
            },
            legend: {
                top: 'bottom'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            series: [
                {
                    name: '面积模式',
                    type: 'pie',
                    radius: [50, 250],
                    center: ['50%', '45%'],
                    roseType: 'area',
                    itemStyle: {
                        borderRadius: 1
                    },
                    label:{
                        show:true
                    },
                    data: data
                }
            ]
                
        
        
        };
        myChart.setOption(option);
    }
</script>


</html>