<link rel="stylesheet" href="/public/css/userInfo.css">
<div class="layui-header">
    <a href="/">
        <div class="layui-logo">layui 后台布局</div>
    </a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/public/images/dummy_user-85ee808751.jpg" class="layui-nav-img">
                <span id="username"></span>
            </a>
            <dl class="layui-nav-child">
                <dd id='userInfo'><a href="#">基本资料</a></dd>
                <dd><a href="#">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" id='loginOut'><a href="javaScript:;">退出登录</a></li>
    </ul>
    <div id="mask">
        <div id="content">
            <p><span>个人信息</span><i class="close">X</i></p>
            <form action="" id="theForm">
                <div>
                    <label for="">头像</label>
                    <div class="avatar">
                        <img src="/public/images/dummy_user-85ee808751.jpg" alt="">
                        <input type="file" accept="image/png,image/gif,image/jpeg" name="avatar">
                    </div>  
                </div>
                <div class="username">
                    <label for="">账号</label>
                    <span></span>
                </div>
                <div class="name">
                    <label for="">昵称</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">修改密码</label>
                    <input type="text" name="newPassword">
                </div>
                <div class="signature">
                    <label for="">签名</label>
                    <textarea name="signature" id="" cols="30" rows="10"></textarea>
                </div>
                <p>
                    <button class="primary" onclick='return false'>保存</button>
                    <button class="cancel" onclick='return false'>取消</button>
                </p>
            </form>
        </div>
    </div>
</div>
<script src="/public/layui/layui.all.js"></script>
<script>
    document.getElementById('username').innerHTML = localStorage.getItem('username')
    let layer = layui.layer
    let loginOut = document.getElementById('loginOut')
    loginOut.onclick = function () {
        layer.confirm('是否退出登录', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            const xhr = new XMLHttpRequest()
            xhr.open('get', '/loginOut')
            xhr.responseType = 'json'
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        if (xhr.response.statusCode == 0) {
                            localStorage.clear()
                            location.href = '/login'
                        }
                    }
                }
            }
        });
    }

</script>